<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nyc.pleasure.partner">

    <!-- This permission is necessary in order for Sunshine to perform network access. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- USE_CREDENTIALS is necessary for Google+ login -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <!-- GET_ACCOUNTS is necessary to display email address of logged in user. This permission is optional -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- Permissions required by the sync adapter -->
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

    <!-- Permissions required by the Place Picker -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Permissions required by the AMAZON S3 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- LOGIN EMAIL AUTO COMPLETE -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- AUTHENTICATION ACTIVITY -->
        <activity
            android:name=".auth.AuthActivity"
            android:label="HangoutPartner Authentication" />
        <activity android:name="com.facebook.FacebookActivity" />
        <activity android:name=".auth.TwitterOAuthActivity" />

        <activity
            android:name=".auth.LoginEmailActivity"
            android:label="@string/title_activity_login_email"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nyc.pleasure.partner.MainActivity" />
        </activity>

        <!-- EVENT ACTIVITY -->
        <activity
            android:name=".event.EventBrowseActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".event.EventCreateActivity"
            android:parentActivityName=".event.EventBrowseActivity" />
        <activity
            android:name=".event.EventDetailActivity"
            android:parentActivityName=".event.EventBrowseActivity" />

        <!-- PROFILE ACTIVITY -->
        <activity
            android:name=".profile.ProfileUpdateActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".profile.ProfileBrowseActivity"
            android:label="@string/title_activity_profile_browse"
            android:parentActivityName=".event.EventDetailActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".profile.MediaUploadActivity"
            android:parentActivityName=".profile.ProfileUpdateActivity" />

        <!-- MESSAGE ACTIVITY -->
        <activity
            android:name=".chat.ChatActivity"
            android:label="@string/title_activity_chat"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nyc.pleasure.partner.MainActivity" />
        </activity>
        <activity
            android:name=".message.MessageBrowseActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".message.MessageDetailActivity"
            android:parentActivityName=".message.MessageBrowseActivity" />

        <!-- END OF ACTIVITY -->

        <provider
            android:name=".data.EventProvider"
            android:authorities="@string/content_authority"
            android:exported="false"
            android:syncable="true" />

        <!-- SyncAdapter's dummy authentication service -->
        <service android:name=".sync.HangoutAuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <!-- The SyncAdapter service -->
        <service
            android:name=".sync.HangoutSyncService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <!-- Amazon S3 -->
        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBQoIl0920c3xGQcVEytxCtlKx-eLIEnWM" />

    </application>

</manifest>
